.credit{
  flex-grow: 1;
  width: 100px;
  height: 100%;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.credit p {
  width: 100%;
  padding: 5px 0px;
}

.credit p:first-child, .credit p:nth-child(2){
  border-bottom: 1px solid #000;
}
.credit p:nth-child(2){
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credit p:nth-child(3){
  min-height: 34px;
}


.credit_name{
  padding: 2px 0px;
}

.stamp{
  width: 40px;
}
