.tap{
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.tap li {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.side_wrapper{
  height: 100%;
  border: 5px solid var(--color-border);
}


.list{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.list > ul{
  display: flex;
  width: 100%;
  align-items: center;
}

.photo{
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.photo img{
  border-radius: 100%;
  width: 100%;
}

.item{
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid var(--color-border);
}

.content{
  flex-shrink: 1;
  min-width: 0;
}

.content span, .content p{
  display: block;
  font-size: 13px;
  /*padding: ;*/
}

.content p{
  background-color: var(--color-border);
  padding: 5px;
}

.active{
  display: block;
}
.none{
  display: none;
}