

.main {
    width: 100%;
    height: 100vh;
}

.infoWrap{
    width: 50%;
    height: 100vh;
    background-color: antiquewhite;
    margin: 30px ;
}

/* 아이콘 */
.infoIcon{
    text-align: right;
    padding: 12px;
}

.empInfo{
    text-align: center;
}
.empImage{
    width: 26%;
    border-radius: 100px;
}

.empSign {
    width: 80%;
    /* mar */
}