.c-button {
    font-size: 0.9rem;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

.c-button-color-middle{
    background: var(--color-middle);
    color: white;
}

.c-button-color-middle:hover{
    color: white;
    background: var(--color-hard);
}

.c-button-color-hard{
    border: 1px solid var(--color-hard);
    color: var(--color-hard);    
}

.c-button-color-hard:hover{
    color: white;
    background: var(--color-hard);
}

.c-button-cancel-inline{
    background-color: var(--color-cancle-button);
    color: white;
}

.c-button-cancel-inline:hover{
    background-color: var(--color-cancle-button-hard);
}

.c-button-cancel-outline{
    border-color: 1px solid var(--color-cancle-button);
    color: var(--color-cancle-button);
}

.c-button-cancel-outline:hover{
    background: var(--color-cancle-button);
    
}

