.btn {
    font-size: 0.9rem;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    transition: 0.5s;
}

.colorMiddle{
    background: var(--color-middle);
    color: white;
    transition: 0.5s;
}

.colorMiddle:hover{
    color: white;
    background: var(--color-hard);
}

.colorHard{
    border: 1px solid var(--color-hard);
    color: var(--color-hard);    
    transition: 0.5s;
}

.colorHard:hover{
    color: white;
    background: var(--color-hard);
}

.cancelInline{
    background-color: var(--color-cancle-button);
    color: white;
    transition: 0.5s;
}

.cancelInline:hover{
    background-color: var(--color-cancle-button-hard);
}

.cancelOutline{
    border-color: 1px solid var(--color-cancle-button);
    color: var(--color-cancle-button);
    transition: 0.5s;
}

.cancelOutline:hover{
    background: var(--color-cancle-button);
}

.btnSimple{
    width: 100%;
    border: 0;
    font-size: 0.9rem;
    padding: 5px;
    /* border: 1px solid; */
    transition: 0.5s;
}