
.mailBox {
  color: #535353;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px;
  margin-top: -50px;
}

.mailBox2 {
  color: #535353;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px;

}

.sidemenu {
  text-align: left;

}

.list {

  padding: 20px;
  color: gray;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 20px;
  line-height: 10px;
}


.point {
  font-size: 10px;

}

.addressSearch {
  display: flex;
  padding: 20px;

}

.address-text {
  padding: 15px;
  border: 1px solid rgba(155, 155, 155, 0.5);
  width: 200px;
  margin-left: 20px;
  border-radius: 10px;
  color: var(--color-text-content);

}

.address-button {

  margin-left: 50px;

}

.address-button > button {
  font-size: 15px;
  color: var(--color-text-content);
}

.address-subtitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
  color: var(--color-text-title);
  font-weight: 600;
  border-top: 1.5px solid rgba(155, 155, 155, 0.5);
  border-bottom: 1.5px solid rgba(155, 155, 155, 0.5);

}

.address-name {
  flex: 1;
  padding: 20px;

}

.address-phone {
  flex: 1.3;
  padding: 20px;
}

.address-email {
  flex: 1.3;
  padding: 20px;
}

.address-memo {
  flex: 2;
  padding: 20px;
}

.address-content {
  display: flex;
  width: 100%;
  text-align: center;
  color: #757575;
  font-weight: 600;
}

.wrapper > h1 > p {
  color: gray;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 10px;
}

.mailButton {
  padding: 30px;
  display: block;
}

.mailButton > button {
  display: inline;
  margin-right: 20px;

  width: 79px;
  height: 33px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mailButton > button:hover {

  background-color: var(--color-middle);
  color: aliceblue;

}

.mailLine {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}

#mailSearch {

  display: flex;
  margin-left: 80%;
  width: 200px;

  border: 1px solid rgba(155, 155, 155, 0.5);
  color: gray;
  padding: 10px;
  border-radius: 5px;

}

.mailContent > div {

  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  font-weight: 600;
  color: var(--color-text-content);
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}

.mailCheckbox {
  flex: 0.3;
}

.mailName {
  flex: 0.5;
}

.mailTitle {
  flex: 2.5;
}

.mailDate {
  flex: 0.5;
}

.mailCheckbox {
  flex: 0.3;
}

.addressName {
  flex: 0.5;
}

.addressPhone {
  flex: 2.5;
}

.mailDate {
  flex: 0.5;
}
    
.mini_mail_title p{
  padding: 10px;
  text-align: right;
}

.mini_mail_title{
    font-size: 15px;
    color: var(--color-text-content);
}