

.sendButton {

display: inline;


width: 79px;
height: 33px;
justify-content: center;
align-items: center;
color: bl;
font-weight: 600;
/* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.1);
margin-left: 68%;




}

.sendButton:hover {

    background-color: var(--color-middle);
    color: aliceblue;
    
}




.uploadBox{
    
    height: 50px;
    border:1px solid gray;
    
    padding:10px;
   
    width: 81%;
    
}

.writeContent {

        display: inline;
        width: 80%;


        color: #535353;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 20px;
        margin-top: -50px;
        
        
}



.container {


    width: 100%;


    padding: 20px;

}

/* .receiver{
    margin-top: 20px;
}

.receiver>input {
    width: 100%;
    margin-left: 28px;
    height: 20px;
    
}

.reference>input {
    width: 100%;
    margin-left: 57px;
    height: 20px;
    margin-top: 15px;
}

.mailTitle>input {
    width: 100%;
    margin-left: 57px;
    height: 20px;
    margin-top: 15px;
} */

.attachedFile {
    margin-top: 20px;
    
}



.addressButton {
    display: inline;
    margin-right: 20px;
    
    width: 79px;
    height: 33px;
    justify-content: center;
    align-items: center;
    color: bl;
    font-weight: 600;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    margin-left: 3%;
}

.addressButton:hover{
    background-color: var(--color-middle);
    color: aliceblue;
}

.titleButton {
    display: flex;
    flex-direction: row;
    
}


.content>div {
    width: 30%;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.inputText {
    width: 80%;
    height: 25px;
}












