

.sendButton {

display: inline;


width: 79px;
height: 33px;
justify-content: center;
align-items: center;
color: bl;
font-weight: 600;
/* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.1);
margin-left: 68%;




}

.sendButton:hover {

    background-color: var(--color-middle);
    color: aliceblue;
    
}




.uploadBox{

    display: flex;

    
    border:1px solid gray;
    
    padding:10px;

    width: 91%;

    height: 100px; /* 텍스트와 파일 드래그 영역을 모두 포함하도록 높이 설정 */
    overflow-y: auto;

}
.uploadBox>p {

    display: inline-block;
    
}


.writeContent {

        display: inline;
        width: 80%;


        color: #535353;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 20px;
        margin-top: -50px;
        
        
}



.container {


    width: 100%;


    padding: 20px;

}

.attachedFile {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
    
}



.addressButton {
    display: inline;
    margin-right: 20px;
    
    width: 79px;
    height: 33px;
    justify-content: center;
    align-items: center;
    color: bl;
    font-weight: 600;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    margin-left: 3%;
}

.addressButton:hover{
    background-color: var(--color-middle);
    color: aliceblue;
}

.titleButton {
    display: flex;
    justify-content: space-between;
    width: 90%;
    
    
}


.content>div {
    width: 90%;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.inputText {
    width: 80%;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.receiver>input {
    width: 80%;
}

.receiver{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.reference {
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.reference>input {
    margin-left: 33px;
}

.mailTitle {
    display: flex;
    justify-content: space-between;
    
}

.mailTitle>input {
    width: 90.5%;
    margin-left: 0%;    

}

.addressBook {

    width: 79px;
    height: 33px;
    justify-content: center;
    align-items: center;
    color: bl;
    font-weight: 600;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);



}










