.returnMail {
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

.returnMail>button {

    font-size: 25px;
    font-weight: 700;
    color: gray;
    
}

.button {
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}

.button>button {
    display: inline;
margin-right: 20px;

width: 79px;
height: 33px;
justify-content: center;
align-items: center;
color: bl;
font-weight: 600;
/* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
border-radius: 5px;

}

.button>button:hover {
    background-color: var(--color-middle);
    color: aliceblue;

}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size:20px;
    font-weight: 400;
    line-height: 35px;
    
}

.title {

    padding: 20px;

    font-size: 25px;
    font-weight: 700;
    color: gray;
    
    
}

.sender>span {
    background-color:var(--color-light) ;
    border-radius: 10px 20px;
   
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    margin-left: 10px;
    
}

.receiver>span {
    background-color:var(--color-light) ;
    border-radius: 10px 20px;
   
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    margin-left: 10px;
    
    
}

.text {

    display: flex;
    padding: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    
    
}

.text>div {
    
    
    width: 1500px;
    height: 800px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.file {
    display: flex;
    padding: 20px;
}

.file>div {
    margin-right: 20px;
}

.fileBox {
    width: 1000px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}



