.chk {
    width: 20px;
    height: 20px;
    margin: 0;
    /* border: 0.3px solid var(--color-text-content);    */    
    margin: 0;
    vertical-align:middle;
}
.chk:disabled{
    border: none;
    background-color: var(--color-background);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.chkBg{
    accent-color: rgb(159, 138, 200);
}