.c-input {
    width: 100%;
    font-size: 16px;
    height: 15px;
    border: 0.3px solid var(--color-text-content);
    padding: 5px 10px 10px 5px;
}

.c-input[type=datetime-local]{
    color: var(--color-text-content);
}

.c-input:focus{
    outline-color: var(--color-hard);
}