.list_approval{
    width: 100%;
    table-layout: fixed;
}
.list_th{
    padding: 10px;
    background-color: var(--color-border);
    text-align: left;
    table-layout: fixed;
}

.list_thead{
    background-color: var(--color-border);
    text-align: center;
}

.list_tr{
    border-bottom: 1px solid var(--color-border);
    transition: 0.3s;
}

.list_tr1{
    font-weight: 600;
}


.list_tr:hover{
    background-color: var(--color-border);
}

.list_td {
    padding: 10px;
}

.list_td2 {
    padding: 5px;
}


.last {
    text-align: right;
}

.list_no{
    /* max-width: 120px; */
}

.t_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.isAlert{
    color: var(--color-alert);
}

.less{
    padding: 50px;
    text-align: center;
}

.toolbar {
    display: flex;
    margin-bottom: 5px;
}

.toolbar li  {
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    color: var(--color-text-title);
    cursor: pointer;
}

.active{
    color: var(--color-hard) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--color-hard);
}

.nolist{
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: var(--color-text-content);
}

.subtitle{
    border-bottom: 1px solid var(--color-border);
    padding: 30px;
}

.container{
    width: 100%;
}

.status{
    font-weight: 800;
    font-size: 6px;
    padding: 4px 11px;
}

.waiting{
    border: 2px solid var(--color-success);
    color: var(--color-success);
}

.done {
    border: 2px solid var(--color-text-content);
    color: var(--color-text-content);
}

.reject{
    border: 2px solid var(--color-alert);
    color: var(--color-alert);
}

.temp{
    border: 2px solid var(--color-middle);
    color: var(--color-middle);
}