.item{
    width: 100%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: auto auto;
    height: 30px;
    align-items: center;
    margin: 5px 0;
}

.item label {
    font-size: 0.95rem;
}

.color{
    text-align: end;
    padding-right: 5%;
}

.labelColor{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    vertical-align: middle;
}