.btn{
    letter-spacing: 0.1vh;
    padding: 7px 20px 7px 20px;
    color: var(--color-middle);
    /* background: #7758FA; */
    border: 1px solid var(--color-middle);
    border-radius: 5vw;
    margin: 5px 5px 5px 5px;
    height: 35px;
}

.btn:hover{
    color: white;
    background-color: var(--color-middle);
}

