.container{
     margin: 10px 0 30px 0;
     width: 100%;
     text-align: left;
}

.container > button {
    font-size: 0.9rem;
    font-weight: 700;
    width: 100px;
    min-width: 100px;
    text-align: left;
}

