@media (width <= 480px) {
    .fowHdGrid {
        display: table !important;
        border-collapse: collapse !important;
        /* border: 1px solid var(--color-text-content) !important; */
        margin: 20px 0 !important;
        box-shadow: 0 0 10px rgba(200, 200, 200, 0.6);
   }

    .fowHdGrid > div:first-child {
        display: table-cell !important;
        vertical-align: middle !important;
        width: 100% !important;
        height: 80px !important;
        /* border: 1px solid var(--color-text-content) !important; */
        padding: 15px !important;
    }

    .fowHdGrid > div:last-child {
        display: table-cell !important;
        vertical-align: middle !important;
        text-align: center !important;
        width: 100px !important;
        max-width: 100px !important;
        min-width: 100px !important;
        height: 80px !important;
        /* border: 1px solid var(--color-text-content) !important; */
    }

    .fowHdGrid > div:first-child > div {
        display: block !important;
        width: 100% !important;
        /* border: 1px solid black; */
    }

    .fowHd-grid > div {
        padding-bottom: 0px;
        
    }

    .fowHdHeader{
        display: none !important;
    }
        
}

.fowHdGrid{
   display: table;
   border-collapse: collapse;
   border-bottom: 1px solid rgba(125, 125, 125, 0.4);
   height: 40px;
   font-size: 0.9rem;
}

.fowHdGrid > div {
    padding-bottom: 7px;
}

.fowHdGrid > div:first-child {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.fowHdGrid > div:first-child > div:first-child {
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}

.fowHdGrid > div:first-child > div {
    display: inline-flex;
    width: 30%;
}

.fowHdGrid > div:last-child {
    display: table-cell;
    min-width: 100px;
    vertical-align: middle;
    text-align: center;
}
