@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.loginTitle {
    font-family: 'Fugaz One';
    font-size: 40px;
    border-radius: 10px;
    background: #D9D9D9;
}

.wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: 800px;
}

.alignForm {
    border: 1px solid #E8E8E8;
    width: 700px;
    height: 500px;
    align-content: center;
    display: grid;
    justify-items: center;
}

.btn1 {
    display: flex;
    width: 400px;
    height: 45px;
    flex-shrink: 0;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #7758FA;
    justify-content: center;
    align-items: center;
}

.input1 {
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    width: 400px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #B3B3B3;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #9F8AFB;
    background: #FFF;
}