/* 헤더 */
.header{
  display: flex;
  width: 1212px;
  /* height: 84px; */
  padding: 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-bottom: 1px solid #E8E8E8;
  background: #FFF;
  color: #535353;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }

/* 사이드바 */
.bg_contain{ 
    width: 220px;
    height: 800px;
    flex-shrink: 0;
    border-right: 1px solid #E8E8E8;
    background: #FFF;
    padding-left: 30px;
    padding-top: 5px;
}

/* '근태관리' 폰트 */
.manage_ft {  
    
    color: #535353;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

/* 타이머 */
.timer {
    font-size: 50px;
}

/* 출퇴근시간 폰트 */
.timer_ft {    
    color: #535353;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    margin-top: 15px;
    margin-left: 8px;
}

/* 근무상태 표시 */
    .dropstate {
        color: #7758FA;
        font-weight: 600;
        background: none;
        display: flex;
        width: 178px;
        height: 31px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #7758FA;
        transition: 0.4s;
        cursor: pointer;
        padding-bottom: 2px;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 178px;
        height: 115px;
        box-shadow: 0px 4px 8px 0px #7658fa34;
        z-index: 1;
        border-radius: 6px;
        text-align: center;
        
      }
      
      .dropdown-content a {
        color: black;
        padding: 6px 10px;
        text-decoration: none;
        display: block;
        font-size: 13px;
        font-weight : 600;
      }
      
      .dropdown-content a:hover {
        background-color: #7758FA;
        color: white;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropstate {
        background-color: #7758FA;
        color: white;
        font-weight : 400;
      }


/* 출퇴근 버튼 */
.wk_wkoffbtn {
color: #7758FA;
font-weight: 600;
background: none;
display: flex;
width: 88px;
height: 31px;
/* padding: 14px 2px; */
padding-bottom: 2px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid #7758FA;
transition-duration: 0.4s;  /* 버튼 위에 마우스 올릴 시 깜빡이는거 */
cursor: pointer;    /* 마우스 올리면 커서모양 바뀜 */

}
/* 호버 */
.wk_wkoffbtn:hover {
    background-color: #7758FA;
    color: white;
    font-weight : 400;
}

/* 근태현황 큰 카테고리 */
.wk_bigctgr {
    color: #535353;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

/* 근태현황 작은 카테고리 */
.wk_smlctgr {
    color: #757575;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

/* 나란히 */
.wk_btn_container {
    display: flex;
    gap: 2px
}

/* 버튼 사이 간격 */
.wk_btn_margin {
    margin-bottom: 4px; /* 버튼과 근무상태표시 사이의 간격 설정 */
}

/* 아이콘 사이즈 */
.wk_icon {
        transform: scale(0.5);
}