/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}

.fc .fc-col-header-cell-cushion { /* needs to be same precedence */
  padding-top: 10px; /* an override! */
  padding-bottom: 10px; /* an override! */
}