<link rel="stylesheet" type="text/css" href="./common.css">

<style>
    /* @media (width > 480px) and (width < 1280px) {
        .c-check-box[type=checkbox]{
            height: 30px !important;
            width: 30px !important;
        }
    }
    
    @media (width <= 480px) {
        .c-check-box[type=checkbox]{
            height: 35px !important;
            width: 35px !important;
        }
    } */

.c-check-box[type=checkbox]{
    height: 30px;
    width: 30px;
    border: 1px solid var(--color-light);
    accent-color: var(--color-light);
}
</style>

<input class="c-check-box c-transition03" type="checkbox" value="121">


