<link rel="stylesheet" type="text/css" href="./common.css">

<style>
    /* @media (width > 480px) and (width < 1280px) {
        .c-select{
            height: 30px !important;
        }
    }
    @media (width <= 480px) {
        .c-select{
            height: 35px !important;
        }
    } */

    .c-select{
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 30px;
        text-align: center;
        border-radius: 5px;
    }
    .c-select:focus{
        outline-color: var(--color-light);
    }
</style>

<select class="c-select c-transition03">
    <option value="">1</option>
</select>