/* 헤더 */
.header{
  display: flex;
  width: 1212px;
  /* height: 84px; */
  padding: 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-bottom: 1px solid #E8E8E8;
  color: #535353;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }

/* 연차사용내역조회 폰트 */
.minift {
width: 300px;
height: 20px;
flex-shrink: 0;
color: #535353;
text-align: Inter;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
/* padding: 20px; */
margin-top: 20px;
margin-bottom: 4px;
margin-left: 10px;
}

/* 년도선택 드롭다운 */
.dropyear {
  color: #7758FA;
  font-weight: 600;
  background: none;
  display: flex;
  width: 90px;
  height: 23px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #7758FA;
  transition: 0.4s;  /* 버튼 위에 마우스 올릴 시 깜빡이는거 */
  cursor: pointer;    /* 마우스 올리면 커서모양 바뀜 */
  padding-bottom: 3px;
}

.dropyears {
  position: relative;
  display: inline-block;
}

.dropyearscontent {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 88px;
  height: 50px;
  box-shadow: 0px 4px 8px 0px #7658fa34;
  z-index: 1;
  border-radius: 6px;
  text-align: center;
  
}

.dropyears-content a {
  color: black;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-weight : 600;
}

.dropyears-content a:hover {
  background-color: #7758FA;
  color: white;
  font-weight : 400;
}

.dropyear:hover {
  background-color: #7758FA;
  color: white;
}

.dropyears:hover .dropyears-content {
  display: block;
}

.dropyears:hover .dropyears {
  background-color: #7758FA;
  color: white;
  font-weight : 400;
}

.wk_side {
  display: flex;
  gap: 3px
  }

/* 테이블 */
.wktable {
/* border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd; */
text-align: left;
/* width: 60px; */
height: flex;
border-collapse: collapse;
width: 100%;
/* border: 1px solid #ddd; */
padding-left: 30px;
padding-right: 30px;
padding-bottom: 30px;
}

.wktable_th {
border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;
/* text-align: left; */
height: 40px;
color: #000;
/* font-family: Inter; */
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
/* border-left: 1px solid none; */
/* padding-right: 7px; */
}

.wktable_td {
border-bottom: 1px solid #ddd;
/* border-top: 1px solid #ddd; */
/* text-align: left; */
height: 40px;
color: #000;
/* font-family: Inter; */
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
/* border-left: 1px solid none; */
/* padding-right: 7px; */
}

.wktable_tr:hover {
  background-color: #ddd;
}