
.background-white{
    background: white;        
}

.border-1px-7758FA{
    border: 1px solid #7758FA;
}
.border-radius-10px{
    border-radius: 5vw
}
.background-7758FA{
    background: #7758FA;
}
.border-1px-7758FA{
    border: 1px solid #7758FA;
}
.font-color-7758FA{
    color: #7758FA;
}
.font-color-white{
    color: white;
}
.btn-padding{
    padding: 7px 20px 7px 20px;
}
.letter-space{
    letter-spacing: 0.1vh;
}
