
<link rel="stylesheet" type="text/css" href="/common/ele-component/common.css">

<style>
    .c-dashboard-remainder-cantainor{
        font-size: 14;
        min-width: 250px;
        max-width: 250px;
        min-height: 80px;
        max-height: 80px;
            
    }
    .c-dashboard-remainder-cantainor-tody{
        border-inline-start: 4px solid var(--color-hard);
        background-color: rgba(125, 125, 125, 0.06);
    }

    .c-dashboard-reminder-cal-list{
        padding: 10px 10px 10px 0;
    }
    .c-dashboard-reminder-cal-list > div{
        align-items: center;
        min-height: 50px;
        max-height: 50px;
        display: flex;
    }
    .c-dashboard-reminder-cal-day{
        text-align: center;
        font-weight: 600;
        min-width: 70px;
        max-width: 70px;
        border-inline-end: 1px solid rgba(0, 0, 0, 0.15);
    }
    .c-dashboard-reminder-cal-content{
        margin-left: 10px;
        line-height: 24px;
        
    }
</style>
<div style="margin: 20px;">
<div class="c-dashboard-remainder-cantainor c-dashboard-remainder-cantainor-tody">
    <div class="c-dashboard-reminder-cal-list"> 
        <div>
            <div class="c-dashboard-reminder-cal-day">
                <div style="font-size: 17;">12</div>
                <div>일요일</div>
            </div>
            <div class="c-dashboard-reminder-cal-content">
                <div style="font-weight: 700;">일정 제목</div>
                <div style="color: gray;">
                    <span>14:50 ~ 16:30</span>
                    <!-- <span>등록된 일정이 없습니다.</span> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>