<link rel="stylesheet" type="text/css" href="/common/ele-component/common.css">
<style>
    @media (width > 480px) and (width < 1280px) {

    }
    
    @media (width <= 480px) {
        .grid{
            display: table !important;
            border-collapse: collapse !important;
            border: 1px solid var(--color-text-content) !important;
       }

        .grid > div:first-child {
            display: table-cell !important;
            vertical-align: middle !important;
            width: 100% !important;
            height: 80px !important;
            border: 1px solid var(--color-text-content) !important;
            padding: 15px !important;
        }

        .grid > div:last-child {
            display: table-cell !important;
            vertical-align: middle !important;
            text-align: center !important;
            width: 100px !important;
            max-width: 100px !important;
            min-width: 100px !important;
            height: 80px !important;
            border: 1px solid var(--color-text-content) !important;
        }

        .grid > div:first-child > div {
            display: block !important;
            width: 100% !important;
            /* border: 1px solid black; */
        }

        .grid > div {
        padding-bottom: 0px;
    }
            
    }

    .grid{
       display: table;
       border-collapse: collapse;
       border-bottom: 1px solid rgba(125, 125, 125, 0.4);
       height: 40px;
    }

    .grid > div {
        padding-bottom: 7px;
    }

    .grid > div:first-child {
        
        vertical-align: middle;
        display: table-cell;
        width: 100%;
    }

    .grid > div:first-child > div {
        display: inline-flex;
        width: 30%;
        /* border: 1px solid black; */
    }

    .grid > div:last-child {
        display: table-cell;
        min-width: 100px;
        vertical-align: middle;
        text-align: center;
    }


</style>
<body style="margin: 20px;">
    <div class="grid">
        <div>
            <div>직원 이름(직함)</div>
            <div>캘린더 이름</div>
            <div>날짜</div>
        </div>
        <div>
            <div>승인</div>
        </div>
    </div>
</body>
</html>