<style>
    .c-sidebar-calendar-item{
        width: 100%;
        border: 1px solid;
        display: grid;
        grid-template-columns: auto auto;
        height: 30px;
        align-items: center;
    }

    .c-sidebar-calendar-color{
    
        text-align: end;
        padding-right: 5%;
    }

</style>

<div class="c-sidebar-calendar-item">
    <div>
        <input id="1" type="checkbox"> 
        <label for="1">내 일정</label>
    </div>
    <div class="c-sidebar-calendar-color">
        <button style="height: 15px; width: 15px; background-color: red; border-radius: 30px; border: 0;"/>
    </div>
</div>