.container {
    /*display: inline-block;*/
    display: block;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 7px 0 rgba(125, 125, 125, 0.3);
}

.header{
    display: flex;
    justify-content: center;
}

.header > div:nth-child(2){
    text-align: right;
}

.table{
    width: 100%;
}

