.container{
    font-size: 0.8rem;
    min-width: 250px;
    /*max-width: 250px;*/
    min-height: 80px;
    max-height: 80px;
        
}
.today{
    border-inline-start: 4px solid var(--color-hard);
    background-color: rgba(125, 125, 125, 0.06);
}

.list{
    padding: 10px 10px 10px 0;
}
.list > div{
    align-items: center;
    min-height: 50px;
    max-height: 50px;
    display: flex;
}
.day{
    text-align: center;
    font-weight: 600;
    min-width: 70px;
    max-width: 70px;
    border-inline-end: 1px solid rgba(0, 0, 0, 0.15);
}
.content{
    margin-left: 10px;
    line-height: 24px;
}

.sun {
    color: red;
}
.sur {
    color: blue;
}