.fileBtn{}


.files{
  padding: 20px;
  border: 2px solid var(--color-border);
}

.files label {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.files input::file-selector-button{
  padding: 8px 10px;
  background-color: transparent;
  border-radius: 6px;
  color: var(--color-hard);
  border: 1px solid var(--color-hard);
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.file_title{
  background-color: var(--color-border);
  padding: 5px 0px;
}

.files input::file-selector-button:hover{
  background-color: var(--color-hard);
  color: #fff;
}
